* {
    box-sizing: border-box;
}



html,
body {
    height: 100%;
}

body {
    display: grid;
    place-content: center;
    padding: 2rem;
    font-family: 'Poppins', sans-serif;

}

button {
    color: inherit;
    background: none;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 25px;
    background-color: rgb(0, 255, 149);
    border: 3px solid indianred
}

button:hover {
    background-color: rgba(255, 0, 0, 0.226);
}